# Servidor
PORT=3000
NODE_ENV=development

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=[DB_PASSWORD]
DB_NAME=chessmz

# JWT
JWT_SECRET=[Chave Robusta Aqui]
JWT_EXPIRE=1h

# API
API_URL=http://localhost:3000
FRONTEND_URL=http://localhost:5173
